/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333; /* Change this to your desired background color */
}

::-webkit-scrollbar-thumb {
  background-color: #a15c5c; /* Change this to your desired scrollbar color */
  border-radius: 5px;
}

/* For Firefox */
/* Note: Firefox scrollbar styling requires a Gecko-based browser */
/* This rule is added to target Firefox */
@-moz-document url-prefix() {
  scrollbar {
    width: 10px;
  }

  scrollbar-track {
    background: #686767; /* Change this to your desired background color */
  }

  scrollbar-thumb {
    background-color: #555; /* Change this to your desired scrollbar color */
    border-radius: 5px;
  }
}
